@media screen and (max-width: 320px) {
    html:not(.android2) .c39cc837e, html:not(.android2) .c39cc837e:after {
        background-image: url("../img/CUP0021758-490x280_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c39cc837e, html:not(.android2):not(.aislow) .c39cc837e:after {
        background-image: url("../img/CUP0021758-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c39cc837e, html:not(.android2):not(.aislow) .c39cc837e:after {
        background-image: url("../img/CUP0021758-490x280.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c39cc837e, html:not(.android2) .c39cc837e:after {
        background-image: url("../img/CUP0021758-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c39cc837e, html:not(.android2):not(.aislow) .c39cc837e:after {
        background-image: url("../img/CUP0021758-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c39cc837e, html:not(.android2):not(.aislow) .c39cc837e:after {
        background-image: url("../img/CUP0021758-490x280.jpg");
    }
}

html.android2 .c39cc837e, html.android2 .c39cc837e:after {
    background-image: url("../img/CUP0021758-490x280.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c91b5f6ad, html:not(.android2) .c91b5f6ad:after {
        background-image: url("../img/42-40950424-410x230.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c91b5f6ad, html:not(.android2):not(.aislow) .c91b5f6ad:after {
        background-image: url("../img/42-40950424-410x230_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c91b5f6ad, html:not(.android2):not(.aislow) .c91b5f6ad:after {
        background-image: url("../img/42-40950424-410x230_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c91b5f6ad, html:not(.android2) .c91b5f6ad:after {
        background-image: url("../img/42-40950424-410x230_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c91b5f6ad, html:not(.android2):not(.aislow) .c91b5f6ad:after {
        background-image: url("../img/42-40950424-410x230_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c91b5f6ad, html:not(.android2):not(.aislow) .c91b5f6ad:after {
        background-image: url("../img/42-40950424-410x230_1.jpg");
    }
}

html.android2 .c91b5f6ad, html.android2 .c91b5f6ad:after {
    background-image: url("../img/42-40950424-410x230_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .cd3a97506, html:not(.android2) .cd3a97506:after {
        background-image: url("../img/480985065-490x280_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .cd3a97506, html:not(.android2):not(.aislow) .cd3a97506:after {
        background-image: url("../img/480985065-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .cd3a97506, html:not(.android2):not(.aislow) .cd3a97506:after {
        background-image: url("../img/480985065-490x280.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .cd3a97506, html:not(.android2) .cd3a97506:after {
        background-image: url("../img/480985065-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .cd3a97506, html:not(.android2):not(.aislow) .cd3a97506:after {
        background-image: url("../img/480985065-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .cd3a97506, html:not(.android2):not(.aislow) .cd3a97506:after {
        background-image: url("../img/480985065-490x280.jpg");
    }
}

html.android2 .cd3a97506, html.android2 .cd3a97506:after {
    background-image: url("../img/480985065-490x280.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .cb0d2c239, html:not(.android2) .cb0d2c239:after {
        background-image: url("../img/DigestPLUS_03-490x280.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .cb0d2c239, html:not(.android2):not(.aislow) .cb0d2c239:after {
        background-image: url("../img/DigestPLUS_03-490x280_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .cb0d2c239, html:not(.android2):not(.aislow) .cb0d2c239:after {
        background-image: url("../img/DigestPLUS_03-490x280_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .cb0d2c239, html:not(.android2) .cb0d2c239:after {
        background-image: url("../img/DigestPLUS_03-490x280_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .cb0d2c239, html:not(.android2):not(.aislow) .cb0d2c239:after {
        background-image: url("../img/DigestPLUS_03-490x280_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .cb0d2c239, html:not(.android2):not(.aislow) .cb0d2c239:after {
        background-image: url("../img/DigestPLUS_03-490x280_1.jpg");
    }
}

html.android2 .cb0d2c239, html.android2 .cb0d2c239:after {
    background-image: url("../img/DigestPLUS_03-490x280_1.jpg");
}


@media screen and (max-width: 320px) {
    html:not(.android2) .c45c1c65c, html:not(.android2) .c45c1c65c:after {
        background-image: url("../img/482149771-2560x600.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c45c1c65c, html:not(.android2):not(.aislow) .c45c1c65c:after {
        background-image: url("../img/482149771-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c45c1c65c, html:not(.android2):not(.aislow) .c45c1c65c:after {
        background-image: url("../img/482149771-2560x600_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c45c1c65c, html:not(.android2) .c45c1c65c:after {
        background-image: url("../img/482149771-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c45c1c65c, html:not(.android2):not(.aislow) .c45c1c65c:after {
        background-image: url("../img/482149771-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c45c1c65c, html:not(.android2):not(.aislow) .c45c1c65c:after {
        background-image: url("../img/482149771-2560x600_1.jpg");
    }
}

html.android2 .c45c1c65c, html.android2 .c45c1c65c:after {
    background-image: url("../img/482149771-2560x600_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .ccabdecb8, html:not(.android2) .ccabdecb8:after {
        background-image: url("../img/585285403-2560x600.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ccabdecb8, html:not(.android2):not(.aislow) .ccabdecb8:after {
        background-image: url("../img/585285403-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ccabdecb8, html:not(.android2):not(.aislow) .ccabdecb8:after {
        background-image: url("../img/585285403-2560x600_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .ccabdecb8, html:not(.android2) .ccabdecb8:after {
        background-image: url("../img/585285403-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ccabdecb8, html:not(.android2):not(.aislow) .ccabdecb8:after {
        background-image: url("../img/585285403-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ccabdecb8, html:not(.android2):not(.aislow) .ccabdecb8:after {
        background-image: url("../img/585285403-2560x600_1.jpg");
    }
}

html.android2 .ccabdecb8, html.android2 .ccabdecb8:after {
    background-image: url("../img/585285403-2560x600_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .ce412d55f, html:not(.android2) .ce412d55f:after {
        background-image: url("../img/PowerTripSweepstakes-CB-2560x600.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ce412d55f, html:not(.android2):not(.aislow) .ce412d55f:after {
        background-image: url("../img/PowerTripSweepstakes-CB-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ce412d55f, html:not(.android2):not(.aislow) .ce412d55f:after {
        background-image: url("../img/PowerTripSweepstakes-CB-2560x600_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .ce412d55f, html:not(.android2) .ce412d55f:after {
        background-image: url("../img/PowerTripSweepstakes-CB-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ce412d55f, html:not(.android2):not(.aislow) .ce412d55f:after {
        background-image: url("../img/PowerTripSweepstakes-CB-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ce412d55f, html:not(.android2):not(.aislow) .ce412d55f:after {
        background-image: url("../img/PowerTripSweepstakes-CB-2560x600_1.jpg");
    }
}

html.android2 .ce412d55f, html.android2 .ce412d55f:after {
    background-image: url("../img/PowerTripSweepstakes-CB-2560x600_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c31e2323b, html:not(.android2) .c31e2323b:after {
        background-image: url("../img/galaxyvx_SE_CB-2560x600.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c31e2323b, html:not(.android2):not(.aislow) .c31e2323b:after {
        background-image: url("../img/galaxyvx_SE_CB-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c31e2323b, html:not(.android2):not(.aislow) .c31e2323b:after {
        background-image: url("../img/galaxyvx_SE_CB-2560x600_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c31e2323b, html:not(.android2) .c31e2323b:after {
        background-image: url("../img/galaxyvx_SE_CB-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c31e2323b, html:not(.android2):not(.aislow) .c31e2323b:after {
        background-image: url("../img/galaxyvx_SE_CB-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c31e2323b, html:not(.android2):not(.aislow) .c31e2323b:after {
        background-image: url("../img/galaxyvx_SE_CB-2560x600_1.jpg");
    }
}

html.android2 .c31e2323b, html.android2 .c31e2323b:after {
    background-image: url("../img/galaxyvx_SE_CB-2560x600_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c1a0acdd2, html:not(.android2) .c1a0acdd2:after {
        background-image: url("../img/565972605-2560x600.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c1a0acdd2, html:not(.android2):not(.aislow) .c1a0acdd2:after {
        background-image: url("../img/565972605-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c1a0acdd2, html:not(.android2):not(.aislow) .c1a0acdd2:after {
        background-image: url("../img/565972605-2560x600_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c1a0acdd2, html:not(.android2) .c1a0acdd2:after {
        background-image: url("../img/565972605-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c1a0acdd2, html:not(.android2):not(.aislow) .c1a0acdd2:after {
        background-image: url("../img/565972605-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c1a0acdd2, html:not(.android2):not(.aislow) .c1a0acdd2:after {
        background-image: url("../img/565972605-2560x600_1.jpg");
    }
}

html.android2 .c1a0acdd2, html.android2 .c1a0acdd2:after {
    background-image: url("../img/565972605-2560x600_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c0c159d16, html:not(.android2) .c0c159d16:after {
        background-image: url("../img/OJP0012585-2560x600.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c0c159d16, html:not(.android2):not(.aislow) .c0c159d16:after {
        background-image: url("../img/OJP0012585-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c0c159d16, html:not(.android2):not(.aislow) .c0c159d16:after {
        background-image: url("../img/OJP0012585-2560x600_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c0c159d16, html:not(.android2) .c0c159d16:after {
        background-image: url("../img/OJP0012585-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c0c159d16, html:not(.android2):not(.aislow) .c0c159d16:after {
        background-image: url("../img/OJP0012585-2560x600_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c0c159d16, html:not(.android2):not(.aislow) .c0c159d16:after {
        background-image: url("../img/OJP0012585-2560x600_1.jpg");
    }
}

html.android2 .c0c159d16, html.android2 .c0c159d16:after {
    background-image: url("../img/OJP0012585-2560x600_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .ce6411bf9, html:not(.android2) .ce6411bf9:after {
        background-image: url("../img/square-D_179407-980x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ce6411bf9, html:not(.android2):not(.aislow) .ce6411bf9:after {
        background-image: url("../img/square-D_179407-980x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ce6411bf9, html:not(.android2):not(.aislow) .ce6411bf9:after {
        background-image: url("../img/square-D_179407-980x490_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .ce6411bf9, html:not(.android2) .ce6411bf9:after {
        background-image: url("../img/square-D_179407-980x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ce6411bf9, html:not(.android2):not(.aislow) .ce6411bf9:after {
        background-image: url("../img/square-D_179407-980x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ce6411bf9, html:not(.android2):not(.aislow) .ce6411bf9:after {
        background-image: url("../img/square-D_179407-980x490_1.jpg");
    }
}

html.android2 .ce6411bf9, html.android2 .ce6411bf9:after {
    background-image: url("../img/square-D_179407-980x490_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c14b6dc69, html:not(.android2) .c14b6dc69:after {
        background-image: url("../img/42-30637799-490x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c14b6dc69, html:not(.android2):not(.aislow) .c14b6dc69:after {
        background-image: url("../img/42-30637799-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c14b6dc69, html:not(.android2):not(.aislow) .c14b6dc69:after {
        background-image: url("../img/42-30637799-490x490_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c14b6dc69, html:not(.android2) .c14b6dc69:after {
        background-image: url("../img/42-30637799-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c14b6dc69, html:not(.android2):not(.aislow) .c14b6dc69:after {
        background-image: url("../img/42-30637799-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c14b6dc69, html:not(.android2):not(.aislow) .c14b6dc69:after {
        background-image: url("../img/42-30637799-490x490_1.jpg");
    }
}

html.android2 .c14b6dc69, html.android2 .c14b6dc69:after {
    background-image: url("../img/42-30637799-490x490_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c1ad54907, html:not(.android2) .c1ad54907:after {
        background-image: url("../img/20131127-490x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c1ad54907, html:not(.android2):not(.aislow) .c1ad54907:after {
        background-image: url("../img/20131127-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c1ad54907, html:not(.android2):not(.aislow) .c1ad54907:after {
        background-image: url("../img/20131127-490x490_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c1ad54907, html:not(.android2) .c1ad54907:after {
        background-image: url("../img/20131127-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c1ad54907, html:not(.android2):not(.aislow) .c1ad54907:after {
        background-image: url("../img/20131127-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c1ad54907, html:not(.android2):not(.aislow) .c1ad54907:after {
        background-image: url("../img/20131127-490x490_1.jpg");
    }
}

html.android2 .c1ad54907, html.android2 .c1ad54907:after {
    background-image: url("../img/20131127-490x490_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .cec4d0407, html:not(.android2) .cec4d0407:after {
        background-image: url("../img/482149771-490x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .cec4d0407, html:not(.android2):not(.aislow) .cec4d0407:after {
        background-image: url("../img/482149771-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .cec4d0407, html:not(.android2):not(.aislow) .cec4d0407:after {
        background-image: url("../img/482149771-490x490_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .cec4d0407, html:not(.android2) .cec4d0407:after {
        background-image: url("../img/482149771-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .cec4d0407, html:not(.android2):not(.aislow) .cec4d0407:after {
        background-image: url("../img/482149771-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .cec4d0407, html:not(.android2):not(.aislow) .cec4d0407:after {
        background-image: url("../img/482149771-490x490_1.jpg");
    }
}

html.android2 .cec4d0407, html.android2 .cec4d0407:after {
    background-image: url("../img/482149771-490x490_1.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .ce542f21b, html:not(.android2) .ce542f21b:after {
        background-image: url("../img/OCP0175849-1-980x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ce542f21b, html:not(.android2):not(.aislow) .ce542f21b:after {
        background-image: url("../img/OCP0175849-1-980x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .ce542f21b, html:not(.android2):not(.aislow) .ce542f21b:after {
        background-image: url("../img/OCP0175849-1-980x490.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .ce542f21b, html:not(.android2) .ce542f21b:after {
        background-image: url("../img/OCP0175849-1-980x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ce542f21b, html:not(.android2):not(.aislow) .ce542f21b:after {
        background-image: url("../img/OCP0175849-1-980x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .ce542f21b, html:not(.android2):not(.aislow) .ce542f21b:after {
        background-image: url("../img/OCP0175849-1-980x490.jpg");
    }
}

html.android2 .ce542f21b, html.android2 .ce542f21b:after {
    background-image: url("../img/OCP0175849-1-980x490.jpg");
}

@media screen and (max-width: 320px) {
    html:not(.android2) .c4d2db989, html:not(.android2) .c4d2db989:after {
        background-image: url("../img/DVP0738021-490x490.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c4d2db989, html:not(.android2):not(.aislow) .c4d2db989:after {
        background-image: url("../img/DVP0738021-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 320px) {
    html:not(.android2):not(.aislow) .c4d2db989, html:not(.android2):not(.aislow) .c4d2db989:after {
        background-image: url("../img/DVP0738021-490x490_1.jpg");
    }
}

@media screen and (min-width: 321px) {
    html:not(.android2) .c4d2db989, html:not(.android2) .c4d2db989:after {
        background-image: url("../img/DVP0738021-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.99) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.99) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c4d2db989, html:not(.android2):not(.aislow) .c4d2db989:after {
        background-image: url("../img/DVP0738021-490x490_1.jpg");
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 321px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 321px) {
    html:not(.android2):not(.aislow) .c4d2db989, html:not(.android2):not(.aislow) .c4d2db989:after {
        background-image: url("../img/DVP0738021-490x490_1.jpg");
    }
}

html.android2 .c4d2db989, html.android2 .c4d2db989:after {
    background-image: url("../img/DVP0738021-490x490_1.jpg");
}